---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults
title: 'Welcome Earthling'
subtitle: 'Scandinavian Modern Funk'
description: 'Poplock Funk From Scandinavia'
keywords: Modern, Funk, Poplock, Persona, Denmark, Sweden, Norway, Finland, Iceland, Scandinavia, Records, Rare, Vinyl, Tape, Vinyls, Tapes
cover: ''
---
<!DOCTYPE html>
<html>
  <head>
{% include metahead.html %}
    <script src="{{ base }}/assets/js/aframe-master.js"></script>
  </head>
  <body>
    <a-scene>
      <a-sky src="{{ base }}/assets/img/poplock_panorama.jpg" rotation="0 -130 0"></a-sky>
    </a-scene>
  </body>
</html>